* {
    box-sizing: border-box;
    --body-bg-color: #313338;
    --input-bg-color: #383a40;
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: #313338;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
}

.main-container {
    width: 100%;
    height: 100vh;
}

header::before {
    content: "🐑";

}

header {
    padding: 1rem;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.role {
    /* why there is max-width */
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}


.user-avatar-ball,
.bot-avatar-ball {
    align-self: flex-end;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 100%;
    background: url("images/luoguEmoji.png") center center / cover no-repeat dodgerblue;

}

.user-avatar-ball {
    background: url("images/icon_02.png") center center / cover no-repeat dodgerblue;
}

div.user {
    background-color: dodgerblue;
    margin-left: auto;
    margin-right: 0;
}

div.assistant {
    background-color: pink;
    color: black;
}

.message-bubble {
    /* TODO changed by js roles user or assistant */

    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    max-width: 50%;
    font-size: 1rem;
    color: white;
    position: relative;
}

.user-avatar-ball .timeBlock,
.bot-avatar-ball .timeBlock {
    /* content: var(--current-time); */
    /* content: "nihao"; */
    position: absolute;
    bottom: -50%;
    text-align: right;
    right: 0;
    width: 10rem;
    height: auto;
    color: gray;
}

.bot-avatar-ball .timeBlock {
    text-align: left;
    left: 0;
}



.message-bubble::after,
.message-bubble::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -0.5rem;
    width: 1rem;
    height: 1rem;
    background-color: dodgerblue;
    transform: translateY(0%) translateX(-20%) rotate(60deg);
}

.message-bubble.assistant::after {
    left: -0.5rem;
    background-color: pink;
    transform: translateY(0%) translateX(20%) rotate(-60deg);
}

.message-area {
    /* border: 1px solid dodgerblue; */
    /* background-color:
        dodgerblue; */
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* margin-top: 4rem; */
    width: calc(100% - 4rem);
    height: calc(80% - 3rem);
    overflow-y: auto;
}


.chat-area:focus {
    outline: none;
}

.chat-area {
    /* 填满剩余空间 */
    background-color: var(--input-bg-color);
    font-size: 1.5rem;
    /* textarea height 设置为 font-size + padding * 2 */
    height: 2.5rem;
    width: calc(100% - 4rem);
    margin: 2rem;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    resize: none;
    word-break: break-word;
    /* hide the scroll but I could still scroll */
    overflow: hidden;
    /* line-height用于块内的居中 */
}


/* @media screen and (min-height:1000px) {
    .chat-area {
        height: 4%;
    }
}
 */

/* like mobile phone, message bubble width should wider */
@media screen and (max-width:600px) {
    .message-bubble {
        max-width: 80%;
    }
}